<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>good job!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:200" rel="stylesheet">
	<!-- icons -->
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<style>
	:root {
  		--dusty-pink: rgb(212,171,179);
  		--dusty-blue: rgb(153,195,203);
  		--dusty-gray: rgb(104,124,135);
	}
	body{
		font-family: 'Fira Sans', sans-serif;
	}
	.navbar {
	    width:100%;
	    margin:0px auto;
	    bottom: 0;
	    padding:0;
	    position: fixed;
	    text-align:center;
	}
	.navbar li { 
	    display:inline-block;
	    width:24%; 
	    margin:0;
	    padding:0;
	}
	.material-icons, .fas, .glyphicon, .btn{
		font-size:240%;
		color:white;
	}
	a:hover{
		text-decoration:none;
	}

	.pad-10{
		padding: 10% 0%;
	}
	.no-margin{
		margin: 0;
	}
	#circle-div{ 
		/*TODO  : center circle :( currently iphonex */
		width:300px;
		height:300px;
		margin-left: 8%;
		border: 2px solid rgb(153,195,203);
		border-radius:50%;
		text-align: center;
		font-size:50px;
	}
	#circle-div2{
		padding-top:35%;
	}
	.font-pink{
		color: var(--dusty-pink);
	}
	.font-blue{
		color: var(--dusty-blue);
	}
	.font-gray{
		color: var(--dusty-gray);
	}
	.bg-gray{
		background-color: var(--dusty-gray);
	}
	.bg-blue{
		background-color: var(--dusty-blue);
	}
	.break-btn{
		font-size:200%;
		background-color: var(--dusty-pink);
		color:white;
	}

	/*for exit button/arrow*/
	#end-session-btn {
		padding-top: 15%;
		float:right;
		padding-right:10%;
	}

	</style>
</head>
<body>
	<!-- NAVBAR -->
	<ul class="navbar border-top bg-blue">
		<li class="border-right"><a href="main_timer"><span class="material-icons">add_alarm</span></a></li>
		<li class="border-right"><a href="main_todo"><span class="fas fa-tasks" aria-hidden="true"></span></a></li>
		<li class="border-right"><a href="main_log"><span class="fas fa-history" aria-hidden="true"></span></a></li>
		<li><a href="main_settings" class="glyphicon glyphicon-cog"></a></li>
	</ul>

	<!-- Actual Page -->
	<div class="container" style="text-align:center">

		<h2 class="font-blue pad-10 no-margin" style="margin-top:10%" >good job!</h2><br>
		<h2 class="font-pink pad-10 no-margin" >you've finished {{hours}} hours and {{minutes}} minutes of</h1>
		<h1 class="font-blue pad-10 no-margin" id="assignment">{{subject}}: {{assignment}}</h1>


 	</div>
 	<br>

 	<!-- End Break Btn -->
 	<div id="end-session-btn">
		<a href="index">
			<span class="glyphicon glyphicon-home font-gray" style="float:right; padding-right:10px; font-size: 40px"></span>
		<br><h3 class="font-gray">home</h3></a>
	
	</div>

	<!-- Extra White Space -->
	<div style="margin: 20%">
		<br>
	<!-- space under submit button so it scrolls if doesnt fit screen -->
	</div>



</body>
</html>

