<!DOCTYPE html>
<html lang="en">
<head>

<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='191020472-5',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

	<meta charset="utf-8">
	<title>Home</title>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

	<!-- bootstrap, js-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<title>Home</title>
	
	<style>
		body{
			font-family: 'Fira Sans', sans-serif;
			font-weight: lighter !important; /*not working*/
		}
		.icon-text{
			font-size: 80px;
		}
		.right{
			margin-left: 18px;
		}
		.left{
			margin-right: 18px;
		}
		.top{
			margin-bottom: 40px;
		}
		.left{
			/*margin-top: 20px;*/ 
			/* for some reason makes the buttons unaligned when both top and left have margins */
		}
		.center-page{
			text-align:center;
			transform: translate(2px,60%);
		}
		.glyphicon, .btn{
			font-size:400%;
			color:white;
		}
		#app-name{
			position: fixed;
			top: 10%;
			left: 38%; /* hard coding this part? */
			font-size: 100px;
			color:gray;
		}

		.dusty-pink{
			background-color: rgb(212,171,179);
		}
		.dusty-blue{
			background-color: rgb(153,195,203);
		}

	</style>

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-135652457-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
</head>
<body>

	<p id="app-name">focus</p>

	<!-- Home Four Icons -->
	<div class="center-page">
	<a href="main_timer_B">
		<button type="button" class="btn btn-default btn-lg home-icon left top dusty-pink">
	  		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><br><span class="icon-text">new</span>
		</button>
	</a>

	<a href="main_todo_B">
		<button type="button" class="btn btn-default btn-lg home-icon right top dusty-blue">
	  		<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span><br><span class="icon-text">to-do</span>
		</button>
	</a>

	<br>

	<a href="main_log_B">
		<button type="button" class="btn btn-default btn-lg home-icon left bottom dusty-blue">
	  		<span class="glyphicon glyphicon-time" aria-hidden="true"></span><br><span class="icon-text">log</span>
		</button>
	</a>

	<a href="main_settings_B">
		<button type="button" class="btn btn-default btn-lg home-icon right bottom dusty-pink">
	  		<span class="glyphicon glyphicon-cog" aria-hidden="true"></span><br><span class="icon-text">settings</span>
		</button>
	</a>
	
	</div>

	
<script>

$(".home-icon").width('10%');	
$(".home-icon").height( $(".home-icon").width() );


</script>


</body>
</html>

