<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>settings</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
	.navbar {
	    width:100%;
	    margin:0px auto;
	    bottom: 0;
	    padding:10 0px;
	    position: fixed;
	    text-align:center;
	}
	.navbar li { 
	    display:inline-block;
	    width:24%; 
	    margin:0;
	    padding:0;
	}
	a:hover{
		text-decoration:none;
	}
	/*for turn in */
	.glyphicon{
		color:black;
	}
	.glyphicon:hover{
		color:black;
	}
	</style>
</head>
<body>

<!-- NAVBAR -->
	<ul class="navbar border-top">
		<li class="border-right"><a href="main_timer.html" class="glyphicon glyphicon-plus"></a></li>
		<li class="border-right"><a href="main_todo.html" class="glyphicon glyphicon-th-list"></a></li>
		<li class="border-right"><a href="main_log.html" class="glyphicon glyphicon-time"></a></li>
		<li><a href="main_settings.html" class="glyphicon glyphicon-cog"></a></li>
	</ul>

</body>
</html>
