<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

	<title>test app</title>
	<style>
	body{
		font-family: 'Fira Sans', sans-serif;
		font-weight: lighter !important; /*not working*/
	}
	.navbar {
	    width:100%;
	    margin:0px auto;
	    bottom: 0;
	    padding:10 0px;
	    position: fixed;

	    /*list-style:none;*/
	    text-align:center;
	    /*font-family: sans-serif; */
		/*background-color: gray;*/
		/*overflow: hidden;*/
	}
	.navbar li { 
	    display:inline-block;
	    width:24%; 
	    margin:0;
	    padding:0;
	}
	li:hover{
		/*background-color: gray;*/
	}
	a:hover{
		text-decoration:none;
	}
	.fixed-length button{
		width:100%;
	}
	.center-page{
		position: fixed;
		top: 10%;
		left: 15%;
		width: 70%; /* width of everything */
		/*transform: translate(-50%, -50%);*/
	}
	.left{
		float:left;
	}
	.right{
		float:right;
	}
	/*for turn in */
	.glyphicon{
		color:black;
	}
	.navbar .glyphicon{
		font-size:200%;
		color:white;
	}
	.dusty-gray{
		background-color: rgb(104,124,135);
	}
	.dropdown-toggle, .btn-secondary{ 
		/*dusty pink*/
		background-color: rgb(212,171,179);
		color:white;
	}
	.title{
		/*dusty blue */
		color: rgb(153,195,203);
		margin-bottom:0px;
	}
	
	</style>
</head>


<body>
	<!-- NAVBAR -->
	<ul class="navbar border-top dusty-gray">
		<li class="border-right"><a href="main_timer" class="glyphicon glyphicon-plus"></a></li>
		<li class="border-right"><a href="main_todo" class="glyphicon glyphicon-th-list"></a></li>
		<li class="border-right"><a href="main_log" class="glyphicon glyphicon-time"></a></li>
		<li><a href="main_settings" class="glyphicon glyphicon-cog"></a></li>
	</ul>


	<!-- Error Sign -->
	<!-- <div class="alert alert-danger" role="alert">
  		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  		<span class="sr-only">Error:</span>
 		 Enter a valid email address
	</div> -->

	<!-- Top left back button -->
	<div class="container center-page">
	<a href='/'><span class="glyphicon glyphicon-chevron-left title"></span></a>
	<br><br>

	<!-- OVERALL TASK -->
	<p class="title">TEST TASK</p>
	<div class="dropdown fixed-length">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropTest" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">task </button>
	  <ul class="dropdown-menu" aria-labelledby="dropTest">
	  	<li class="dropdown-header">COURSE 1</li>
	    <li><a href="#">Task 1</a></li>
	    <li><a href="#">Task 2</a></li>
	    <li><a href="#">Task 3</a></li>
	    <li role="separator" class="divider"></li>
	    <li class="dropdown-header">COURSE 2</li>
	    <li><a href="#">Task 1</a></li>
	  </ul>
	</div>
	<br>

	<!-- Class / subject -->
	<p class="title">subject</p>
	<div class="dropdown fixed-length">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">subject </button>
	  <ul class="dropdown-menu" aria-labelledby="dropSubject">
	    <li><a href="#">Class 1</a></li>
	    <li><a href="#">Class 2</a></li>
	    <li><a href="#">Class 3</a></li>
	  </ul>
	</div>
	<br>

	<!-- Task / assignment -->
	<p class="title">assignment</p>
	<div class="dropdown fixed-length">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropAssignment" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">assignment </button>
	  <ul class="dropdown-menu" aria-labelledby="dropAssignment">
	    <li><a href="#">Task 1</a></li>
	    <li><a href="#">Task 2</a></li>
	    <li><a href="#">Task 3</a></li>
	  </ul>
	</div>
	<br>
	<!-- Add New option? -->


	<!-- Select Time / time length-->
	<p class="title">time length</p>
	<div class="dropdown" style="display:inline">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropHour" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">0 </button><span class="title"> hr</span>
	  <ul class="dropdown-menu" aria-labelledby="dropHour">
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	  </ul>
	</div>
	&nbsp;&nbsp;

	<div class="dropdown" style="display:inline">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropMinute" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">0 </button> <span class="title">min</span>
	  <ul class="dropdown-menu" aria-labelledby="dropMinute">
	  	<li><a href="#">0</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">10</a></li>
	    <li><a href="#">15</a></li>
	    <li><a href="#">20</a></li>
	    <li><a href="#">25</a></li>
	    <li><a href="#">30</a></li>
	    <li><a href="#">35</a></li>
	    <li><a href="#">40</a></li>
	    <li><a href="#">45</a></li>
	    <li><a href="#">50</a></li>
	    <li><a href="#">55</a></li>
	  </ul>
	</div>
	<br><br>


	<!-- Breaks -->
	<p class="title">breaks</p>
	<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
	  <div class="btn-group mr-2" role="group" aria-label="First group">
	 
	    <button type="button" class="btn btn-secondary break-btn" onclick="selectTime(1)">1</button>
	    <button type="button" class="btn btn-secondary break-btn" onclick="selectTime(2)">2</button>
	    <button type="button" class="btn btn-secondary break-btn" onclick="selectTime(3)">3</button>
	    <button type="button" class="btn btn-secondary break-btn" onclick="selectTime(4)">4</button>
	    <button type="button" class="btn btn-secondary break-btn" onclick="selectTime(5)">5</button>
	    <!-- <button type="button" class="btn btn-secondary break-btn" onclick="selectTime(6)">6</button> -->
	    <!-- can add back more breaks, can't get them to align rn in timer.handlebars -->
	  </div>
	</div>
	<br>

	<div>
		<a href='/'><span class="glyphicon glyphicon-arrow-left left"></span></a>
		
		<!-- invisible form to send data -->

		<form action="timer" method="get" name="invisible" id="send">
			<input type="hidden" id="subject" name="subject">
			<input type="hidden" id="assignment" name="assignment">
			<input type="hidden" id="hour" name="hour">
			<input type="hidden" id="minute" name="minute">
			<input type="hidden" id="breaks" name="breaks">
			<!-- <input type="submit" value="Submit" id="other" name="what" onclick="fillForm()"> -->
			<button onclick="fillForm()" style="float:right"><span class="glyphicon glyphicon-arrow-right right"></button>
		</form>



		<!-- <a href='timer' onclick="fillForm()"><span class="glyphicon glyphicon-arrow-right right"></span></a> -->
		<br>
		<p class="left title">save for later</p>
		<p class="right title">let's study!</p>
	</div>

	


</div>

<script>
	
$(".dropdown-menu li a").click(function(){
	$(this).parents(".dropdown").find('.btn').html($(this).text()+' ');
	// $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
	$(this).parents(".dropdown").find('.btn').val($(this).text());

	$(this).parents(".dropdown").find('.btn').css("background-color","rgb(209, 98, 118)");
});

function selectTime(n){
	document.getElementById("breaks").value = n;
	$(".btn-secondary").css("background-color","rgb(212,171,179)");

	for (var i = 0; i < n; i++){
		$('.break-btn').eq(i).css("background-color","rgb(209, 98, 118)");
	}
}

function fillForm(){
	document.getElementById("subject").value = document.getElementById("dropSubject").value;
	document.getElementById("assignment").value = document.getElementById("dropAssignment").value;
	document.getElementById("hour").value = document.getElementById("dropHour").value;
	document.getElementById("minute").value = document.getElementById("dropMinute").value;

	// document.invisible.submit();
	// document.forms[0].submit();
	// $('#send').submit();
}


</script>



</body>
</html>


