<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>settings</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<style>
	.navbar {
	    width:100%;
	    margin:0px auto;
	    bottom: 0;
	    padding:10 0px;
	    position: fixed;
	    text-align:center;
	}
	.navbar li { 
	    display:inline-block;
	    width:24%; 
	    margin:0;
	    padding:0;
	}
	.navbar .glyphicon{
		font-size:200%;
		color:white;
	}
	.center-page{
		position: fixed;
		top: 10%;
		left: 15%;
		width: 70%;
	}
	.fixed-length button{
		width: 100%;
	}
	a:hover{
		text-decoration:none;
	}
	.dusty-gray{
		background-color: rgb(104,124,135);
	}
	
	</style>
</head>
<body>

	<!-- NAVBAR -->
	<ul class="navbar border-top dusty-gray">
		<li class="border-right"><a href="main_timer" class="glyphicon glyphicon-plus"></a></li>
		<li class="border-right"><a href="main_todo" class="glyphicon glyphicon-th-list"></a></li>
		<li class="border-right"><a href="main_log" class="glyphicon glyphicon-time"></a></li>
		<li><a href="main_settings" class="glyphicon glyphicon-cog"></a></li>
	</ul>

	<div class="container center-page">
	<a href='/'><span class="glyphicon glyphicon-chevron-left"></span></a>
	<br><br>
	<p>Break Length (in minutes)</p>
	<div class="dropdown fixed-length">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Length</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li><a href="#">5</a></li>
			<li><a href="#">10</a></li>
			<li><a href="#">15</a></li>
			<li><a href="#">20</a></li>
			<li><a href="#">25</a></li>
			<li><a href="#">30</a></li>
		</ul>
	</div>
	<br>

	<p>Snooze Length (in minutes)</p>
	<div class="dropdown fixed-length">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Length</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">10</a></li>
			<li><a href="#">15</a></li>
		</ul>
	</div>
	<br>
	</div>

<script>
	
$(".dropdown-menu li a").click(function(){
	$(this).parents(".dropdown").find('.btn').html($(this).text()+' ');
	$(this).parents(".dropdown").find('.btn').val($(this).data('value'));
});
</script>

</body>

</html>
