<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-135652457-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
	<meta charset="utf-8">
	<title>settings</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<style>
	.navbar {
	    width:100%;
	    margin:0px auto;
	    bottom: 0;
	    padding:10 0px;
	    position: fixed;
	    text-align:center;
	}
	.navbar li { 
	    display:inline-block;
	    width:24%; 
	    margin:0;
	    padding:0;
	}
	.navbar .glyphicon{
		font-size:200%;
		color:white;
	}
	.center-page{
		position: fixed;
		top: 10%;
		left: 15%;
		width: 70%;
	}
	.fixed-length button{
		width: 100%;
	}
	a:hover{
		text-decoration:none;
	}
	.dusty-gray{
		background-color: rgb(104,124,135);
	}
	
	</style>
</head>
<body>

	<!-- NAVBAR -->
	<ul class="navbar border-top dusty-gray">
		<li class="border-right"><a href="main_timer_A" "ga("send", "event", "button", "click");" class="glyphicon glyphicon-plus"></a></li>
		<li class="border-right"><a href="main_todo_A" "ga("send", "event", "button", "click");" class="glyphicon glyphicon-th-list"></a></li>
		<li class="border-right"><a href="main_log_A" "ga("send", "event", "button", "click");" class="glyphicon glyphicon-time"></a></li>
		<li><a href="main_settings_A" "ga("send", "event", "button", "click");" class="glyphicon glyphicon-cog"></a></li>
	</ul>

	<div class="container center-page">
	<a href='index_A'><span class="glyphicon glyphicon-chevron-left"></span></a>
	<br><br>
	<!--p>Break Length (in minutes)</p>
	<div class="dropdown fixed-length">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Length</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li><a href="#">5</a></li>
			<li><a href="#">10</a></li>
			<li><a href="#">15</a></li>
			<li><a href="#">20</a></li>
			<li><a href="#">25</a></li>
			<li><a href="#">30</a></li>
		</ul>
	</div>
	<br>

	<p>Snooze Length (in minutes)</p>
	<div class="dropdown fixed-length">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Length</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">10</a></li>
			<li><a href="#">15</a></li>
		</ul>
	</div>
	<br-->

	<form method="post" action="/main_settings_A">
		<div class="form-group" id="break_length">
			<label for="break_length">Break Length (in minutes)</label>
			<input type="number" class="form-control" name="break_length" placeholder="{{breakLength}}" style='margin-bottom:10px'>
			
			<!--label for="snooze_length">Snooze Length (in minutes)</label>
			<input type="number" class="form-control" name="snooze_length" placeholder="{{snoozeLength}}" style='margin-bottom:10px'-->
		</div>
		<button type="submit" class="btn btn-primary">Save</button>
		<br>
		<br>
		<a href="/login_A" type="button" class="btn btn-block btn-primary">Log Out</a>
	</form>
	</div>


</body>

</html>
