<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>test app</title>
	<style>
	.navbar {
	    width:100%;
	    margin:0px auto;
	    bottom: 0;
	    padding:10 0px;
	    position: fixed;

	    /*list-style:none;*/
	    text-align:center;
	    /*font-family: sans-serif; */
		/*background-color: gray;*/
		/*overflow: hidden;*/
	}
	.navbar li { 
	    display:inline-block;
	    width:24%; 
	    margin:0;
	    padding:0;
	}
	li:hover{
		/*background-color: gray;*/
	}
	a:hover{
		text-decoration:none;
	}
	.fixed-length button{
		width:100%;
	}
	.center-page{
		position: fixed;
		top: 10%;
		left: 15%;
		width: 70%; /* width of everything */
		/*transform: translate(-50%, -50%);*/
	}
	.left{
		float:left;
	}
	.right{
		float:right;
	}
	/*for turn in */
	.glyphicon{
		color:black;
	}
	.glyphicon:hover{
		color:black;
	}
	</style>
</head>


<body>
	<!-- NAVBAR -->
	<ul class="navbar border-top">
		<li class="border-right"><a href="main_timer" class="glyphicon glyphicon-plus"></a></li>
		<li class="border-right"><a href="main_todo" class="glyphicon glyphicon-th-list"></a></li>
		<li class="border-right"><a href="main_log" class="glyphicon glyphicon-time"></a></li>
		<li><a href="main_settings" class="glyphicon glyphicon-cog"></a></li>
	</ul>


	<!-- Error Sign -->
	<!-- <div class="alert alert-danger" role="alert">
  		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  		<span class="sr-only">Error:</span>
 		 Enter a valid email address
	</div> -->

	<!-- Top left back button -->
	<div class="container center-page">
	<a href='/'><span class="glyphicon glyphicon-chevron-left"></span></a>
	<br><br>

	<!-- OVERALL TASK -->
	<p>TEST TASK</p>
	<div class="dropdown fixed-length">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">task </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	  	<li class="dropdown-header">COURSE 1</li>
	    <li><a href="#">Task 1</a></li>
	    <li><a href="#">Task 2</a></li>
	    <li><a href="#">Task 3</a></li>
	    <li role="separator" class="divider"></li>
	    <li class="dropdown-header">COURSE 2</li>
	    <li><a href="#">Task 1</a></li>
	  </ul>
	</div>
	<br>

	<!-- Class / subject -->
	<p>subject</p>
	<div class="dropdown fixed-length">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">subject </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><a href="#">Class 1</a></li>
	    <li><a href="#">Class 2</a></li>
	    <li><a href="#">Class 3</a></li>
	  </ul>
	</div>
	<br>

	<!-- Task / assignment -->
	<p>assignment</p>
	<div class="dropdown fixed-length">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">assignment </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><a href="#">Task 1</a></li>
	    <li><a href="#">Task 2</a></li>
	    <li><a href="#">Task 3</a></li>
	  </ul>
	</div>
	<br>
	<!-- Add New option? -->


	<!-- Select Time / time length-->
	<p>time length</p>
	<div class="dropdown" style="display:inline">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">0 </button> hr
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	  </ul>
	</div>
	&nbsp;&nbsp;

	<div class="dropdown" style="display:inline">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">0 </button> min
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	  </ul>
	</div>
	<br><br>


	<!-- Breaks -->
	Breaks
	<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
	  <div class="btn-group mr-2" role="group" aria-label="First group">
	    <button type="button" class="btn btn-secondary">1</button>
	    <button type="button" class="btn btn-secondary">2</button>
	    <button type="button" class="btn btn-secondary">3</button>
	    <button type="button" class="btn btn-secondary">4</button>
	    <button type="button" class="btn btn-secondary">5</button>
	    <button type="button" class="btn btn-secondary">6</button>
	  </div>
	</div>
	<br>

	<div>
		<a href='/'><span class="glyphicon glyphicon-arrow-left left"></span></a>
		<a href='timer'><span class="glyphicon glyphicon-arrow-right right"></span></a>
		<br>
		<p class="left">Save for Later</p>
		<p class="right">Let's Go!</p>
	</div>

	</div>

<script>
	
$(".dropdown-menu li a").click(function(){
	$(this).parents(".dropdown").find('.btn').html($(this).text()+' ');
	$(this).parents(".dropdown").find('.btn').val($(this).data('value'));
});
</script>



</body>
</html>


