<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>to-do</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
	.navbar {
	    width:100%;
	    margin:0px auto;
	    bottom: 0;
	    padding:10 0px;
	    position: fixed;
	    text-align:center;
	}
	.navbar li { 
	    display:inline-block;
	    width:24%; 
	    margin:0;
	    padding:0;
	}
	.navbar .glyphicon{
		font-size:200%;
		color:white;
	}
	a:hover{
		text-decoration:none;
	}
	
	.top-bar{
		position: fixed;
		text-align:center;
		width: 100%;
	}
	.list-item{
		height: 220px;
		width: 99%;
		margin: 0 auto;
	}
	.dusty-gray{
		background-color: rgb(104,124,135);
	}
	</style>
</head>
<body>
	<!-- NAVBAR -->
	<ul class="navbar border-top dusty-gray">
		<li class="border-right"><a href="main_timer" class="glyphicon glyphicon-plus"></a></li>
		<li class="border-right"><a href="main_todo" class="glyphicon glyphicon-th-list"></a></li>
		<li class="border-right"><a href="main_log" class="glyphicon glyphicon-time"></a></li>
		<li><a href="main_settings" class="glyphicon glyphicon-cog"></a></li>
	</ul>
	<!-- Title Bar -->
	<div class="top-bar">
		<div class = "card"><h5>To-Do List</h5></div>
	</div>
	<!-- Checklist Items -->
	<div class="list-item" style="padding-top: 42px">
		{{#each subjects}}
		<a role="button" aria-pressed="true" class="btn btn-default btn-block home-icon"> {{name}} </a>
		{{/each}}
		<a href="new_subject" role="button" aria-pressed="true" class="btn btn-default btn-block home-icon"> +Add New </a>
	</div>

</body>
</html>


