<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>settings</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:200" rel="stylesheet">
	<!-- icons -->
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<style>
	:root {
  		--dusty-pink: rgb(212,171,179);
  		--dusty-blue: rgb(153,195,203);
  		--dusty-gray: rgb(104,124,135);
	}
	body{
		font-family: 'Fira Sans', sans-serif;
	}
	.navbar {
	    width:100%;
	    margin:0px auto;
	    bottom: 0;
	    padding:0;
	    position: fixed;
	    text-align:center;
	}
	.navbar li { 
	    display:inline-block;
	    width:24%; 
	    margin:0;
	    padding:0;
	}
	.material-icons, .fas, .glyphicon, .btn{
		font-size:240%;
		color:white;
	}
	a:hover{
		text-decoration:none;
	}
	.font-pink{
		color: var(--dusty-pink);
	}
	.font-blue{
		color: var(--dusty-blue);
	}
	.font-gray{
		color: var(--dusty-gray);
	}
	.font-white{
		color: white !important;
	}
	.bg-gray{
		background-color: var(--dusty-gray);
	}
	.bg-pink{
		background-color: var(--dusty-pink);
	}
	.bg-blue{
		background-color: var(--dusty-blue);
	}
	.pad-10{
		padding: 10% 0%;
	}
	.no-margin{
		margin: 0;
	}
	
	.btn-block{
		border-radius:0 ;
		padding: 5% 0;
		margin-bottom: 7%;

		border: 1px solid gray;
		font-size:20px;
	}
	
	h2 .glyphicon{
		font-size: 30px;
		float:left;
		padding-left:10px;
	}


	.form-control{
		padding: 30px 10px;
		color:black;
		/*change color to show not yet added?*/
	}
	.form-control:focus{
		color:gray;
	}
	.form-control::placeholder{
		color:gray;
	}

	#break_length_form{
		color:gray;
		font-weight: bold;
	}
	  input.btn {
	  -webkit-user-select: initial;
	  -khtml-user-select: initial;
	  -moz-user-select: initial;
	  -ms-user-select: initial;
	  user-select: initial;
	}


	</style>
</head>
<body>
	<!-- NAVBAR -->
	<ul class="navbar border-top bg-blue">
		<li class="border-right"><a href="main_timer" onclick="return confirmLeave()"><span class="material-icons">add_alarm</span></a></li>
		<li class="border-right"><a href="main_todo" onclick="return confirmLeave()"><span class="fas fa-tasks" aria-hidden="true"></span></a></li>
		<li class="border-right"><a href="main_log" onclick="return confirmLeave()"><span class="fas fa-history" aria-hidden="true"></span></a></li>
		<li><a href="main_settings" class="glyphicon glyphicon-cog" onclick="return confirmLeave()"></a></li>
	</ul>
	
	
	<!-- Top left back button + title-->
	<h2 class="font-blue pad-10 no-margin" style="text-align:center; padding-right:38px">
		<a href='#' onclick="confirmLeave()"><span class="glyphicon glyphicon-chevron-left font-blue"></span></a>
	settings</h2>

	<!--p>Break Length (in minutes)</p>
	<div class="dropdown fixed-length">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Length</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li><a href="#">5</a></li>
			<li><a href="#">10</a></li>
			<li><a href="#">15</a></li>
			<li><a href="#">20</a></li>
			<li><a href="#">25</a></li>
			<li><a href="#">30</a></li>
		</ul>
	</div>
	<br>

	<p>Snooze Length (in minutes)</p>
	<div class="dropdown fixed-length">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Length</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">10</a></li>
			<li><a href="#">15</a></li>
		</ul>
	</div>
	<br-->

	<div class="container">
		<button role="button" aria-pressed="true" class="btn btn-default btn-block bg-pink font-white" id="break_toggle">break time</button>

		<div class="btn-block btn-default" id="showBreak" style="display:none"> 
			<form method="post" action="main_settings" id="break_length_form">
				<input type="number" class="btn font-pink type_input task_input" name="break_length" style="font-size:20px; width: 80%" value="{{breakLength}}" id="break_length">mins
			</form>
		</div>


		<a role="button" aria-pressed="true" class="btn btn-default btn-block bg-blue font-white" href="tutorial/1">tutorial</a>

		<a role="button" aria-pressed="true" class="btn btn-default btn-block bg-pink font-white" id="form_toggle">contact us</a>

		<iframe id="showForm" style="display:none" src="https://docs.google.com/forms/d/e/1FAIpQLScHzvJ_M1CMyuUHn1JJMRXMm090cKTo36UmGKLaqEuV33R4mw/viewform?embedded=true" width="100%" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

		<a role="button" href="/" aria-pressed="true" class="btn btn-default btn-block bg-blue font-white" onclick="logout()">log out</a>
		<br><br>
	</div>



<script>
	
	function confirmLeave(){
		var val = $("#break_length").val();
		if (val == ""){
			//is empty value, automatically set to 5 min
			$("#break_length").val(5);
		}
		if (val != parseInt(val, 10)){
			//is not integer
			alert("Please input integers only.");
		}else{
			//break number is ok, check valid integer 
			if ( val > 60 ){
				alert("Please keep break time under 60 minutes");
			}else if( val < 1 ){
				alert("Please set break time to at least 1 minute");
			}else{
				//continue to submit
				$("#break_length_form").submit();
			}
		}
	}


	function logout(){
		alert("logged out!");
	}

	$(document).ready(function(){
		// break slide
		$("#break_toggle").click(function(){
			$("#showBreak").slideToggle("slow");
		});

		// form slide
		$("#form_toggle").on("click", function(){
			$("#showForm").slideToggle("slow");
		});
	});
	

</script>

</body>


</html>
