<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>to-do</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
	.navbar {
	    width:100%;
	    margin:0px auto;
	    bottom: 0;
	    padding:10 0px;
	    position: fixed;
	    text-align:center;
	}
	.navbar li { 
	    display:inline-block;
	    width:24%; 
	    margin:0;
	    padding:0;
	}
	.navbar .glyphicon{
		font-size:200%;
		color:white;
	}
	a:hover{
		text-decoration:none;
	}

	.top-bar{
		position: fixed;
		text-align:center;
		width: 100%;
		margin: 0 auto;
	}
	.list-item{
		height: 220px;
		width: 99%;
		margin: 0 auto;
	}
	.dusty-gray{
		background-color: rgb(104,124,135);
	}
	.center-page{
		position: fixed;
		top: 10%;
		left: 15%;
		width: 70%;
	}
	</style>
</head>
<body>
	<!-- NAVBAR -->
	<ul class="navbar border-top dusty-gray">
		<li class="border-right"><a href="main_timer" class="glyphicon glyphicon-plus"></a></li>
		<li class="border-right"><a href="main_todo" class="glyphicon glyphicon-th-list"></a></li>
		<li class="border-right"><a href="main_log" class="glyphicon glyphicon-time"></a></li>
-		<li><a href="main_settings" class="glyphicon glyphicon-cog"></a></li>
	</ul>
	<!-- Title -->
	<div class="center-page">
		<a href='main_todo'><span class="glyphicon glyphicon-chevron-left title"></span></a>
		<br><br>
		<!--form method="post" action="/new_subject">		
			<div class="form-group">
				<input type="text" class="form control" name="subject_name" placeholder="Subject name">
				<input type="submit" value="Submit">
			</div>
		</form-->
		<!--form method="post" action="/new_subject">
			<input type="text" name="subject_name">
			<input type="submit" value="Submit">
		</form-->	
		<form method="post" action="/new_subject">
  			<div class="form-group" id="subj_info">
    				<label for="subject_name">Enter subject information</label>
				<input type="text" class="form-control" name="subject_name" placeholder="Subject Name" style='margin-bottom:10px'>
			</div>
			<button id="add_task" type="button" class="btn btn-default btn-block"> +Add Task </button>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

	<script>
		var task_count = 0;
		$('#add_task').click(append_task);
		function append_task() { 
			console.log("button clicked");
			task_count++;
			$("#subj_info").append('<input type="text" class="form-control" name="task[]" placeholder="Task">');
		}
	</script>
	<!--script>	
	$(".dropdown-menu li a").click(function(){
		$(this).parents(".dropdown").find('.btn').html($(this).text()+' ');
		$(this).parents(".dropdown").find('.btn').val($(this).data('value'));
	});
	</script-->

</body>
</html>

